body {
    font-family: Arial, sans-serif;
    background: #54535352;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 40px;
  }
  .container {
    background: rgb(236, 235, 235);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .botao {
    display: flex;
    gap: 10px;
  }
  
  .botao > input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .botao > button {
    padding: 10px 15px;
    background: rgb(29, 29, 230);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botao button:hover {
    background: #00b31e;
    transform: translate(1);
  }

  